html,
body {
  height: 100%;
  margin: 0;
  padding: 0px;
  overflow: hidden;
}


body {
  min-height: 100%;
  width: 100%;
  margin: 0 auto;

}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #ccc;
}

::-webkit-scrollbar-track {
  border-radius: 3px;
  background: #111;
}

.side-bar[data-position="right"] {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  min-height: 100%;
  width: 64px;
  background-color: #43a;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.side-bar[data-position="left"] {
  position: absolute;
  left: 400px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  min-height: 100%;
  width: 64px;
  background-color: #333;
}

div.item {
  color: white;
  height: 64px;
  width: 64px;
  background-color: #444;
  line-height: 64px;
  text-align: center;
  font-size: 20px;
}

div.item.bottom {
  position: absolute;
  bottom: 0;
}

div.heading {
  font-size: 30px;
  font-family: 'Lato', TransportMedium;
  color: white;
  height: 44px;
  line-height: 44px;
  font-weight: 700;
  padding: 10px;
  background-color: #333;
  flex: 0 0 44px;
}

div.item:hover {
  background-color: #6761A8;
  cursor: pointer;
}

div.side-panel {
  z-index: 999;
  left: -400px;
  position: absolute;
  min-width: 400px;
  min-height: 100%;
  background-color: #222;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

div.side-panel.open {
  animation-name: sidebar-open;
  animation-duration: .25s;
  left: 0;
}

div.side-panel.close {
  animation-name: sidebar-close;
  animation-duration: .25s;
  left: -400px;
}

/* Keyframes */
@keyframes sidebar-open {
  0% {
    left: -400px;
  }

  100% {
    left: 0;
  }
}

@keyframes sidebar-close {
  0% {
    left: 0;
  }

  100% {
    left: -400px;
  }
}


#canvas {
  background: #111;
}

#canvas-container {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'TransportHeavy';
  src: url('font/TransportHeavy.woff2') format('woff2'),
    url('font/TransportHeavy.woff') format('woff'),
    url("font/Transport\ Heavy.ttf") format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TransportMedium';
  src: url('font/TransportMedium.woff2') format('woff2'),
    url('font/TransportMedium.woff') format('woff'),
    url("font/Transport\ Medium.ttf") format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

#content-frame {
  height: 88%;
  border: none;
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 400px;
}

/*https://codepen.io/ainalem/pen/GRqPwoz side panel form component*/

.input-form {
  width: 100%;
  height: 80%;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;
  overflow-y: auto;
  gap: 0px 10px;
  flex: 0 0 calc(80%); /* Alternatively, adjust as needed */

}

.input-container {
  width: 100%;
  /* Span 100% of the input form */
  padding: 5px 10px;
  margin-top: 10px;
  /* Ensure the container is always 20px down from the top */
  box-sizing: border-box;
  /* Include padding in the element's total width and height */
  display: flex;
  flex-direction: column;
  /* Arrange children vertically */
  align-items: flex-start;
  /* Align children to the top */

}

.symbol-container {
  width: 45%;
  /* Span 50% of the input form */
  padding: 10px 0px;
  box-sizing: border-box;
  /* Include padding in the element's total width and height */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.angle-picker-container {
  width: 100%;
  /* Span 100% of the input form */
  padding: 0px 10px;
  margin-top: 0px;
  /* Ensure the container is always 20px down from the top */
  box-sizing: border-box;
  /* Include padding in the element's total width and height */
  display: flex;
  /* Arrange children vertically */
  align-items: flex-start;
  /* Align children to the top */
  justify-content: space-around;
  align-items: center;
}


.angle-container {
  width: 20%;
  /* Span 50% of the input form */
  padding: 0px 0px;
  box-sizing: border-box;
  /* Include padding in the element's total width and height */
  display: flex;

}

.input {
  background-color: #404042;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px;
  width: 100%;
}

.cut {
  background-color: #222;
  border-radius: 10px;
  height: 25px;
  left: 0;
  position: relative;
  top: -5px;
  transition: border 100ms ease-out, width 100ms ease-out, height 100ms ease-out;
  width: 140px;
  border: 1px solid #ccc;
}

.cut-short {
  width: 50px;
}

.input:focus~.cut,
.input:not(:placeholder-shown)~.cut {
  border: 2px solid #eee;
  width: 140px;
  height: 25px;
  top: -18x;
}

.placeholder {
  color: #dadada;
  font-family: TransportMedium;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: relative;
  font-size: 20px;
  top: -5px;
  text-align: center;
  font-weight: lighter;
  transition: font-weight 500ms ease-out, top 500ms ease-out, color 500ms ease-out;

}

.input-button:hover {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.input-button.active {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.input-button {
  background-color: #555555;
  color: white;
  transition-duration: 0.4s;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.symbol-button:hover {
  background-color: #0000FE;
  color: black;
  border: 2px solid #555555;
}

.symbol-button.active {
  background-color: #0000FE;
  color: black;
  border: 2px solid #555555;
}

.symbol-button {
  background-color: #555555;
  color: white;
  transition-duration: 0.4s;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  max-width: 100%;
  /* Ensure the button takes a maximum of half of its parent width */
}

.angle-button:hover {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.angle-button.active {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.angle-button {
  background-color: #555555;
  color: white;
  transition-duration: 0.4s;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  max-width: 100%;
  /* Ensure the button takes a maximum of half of its parent width */
}

#context-menu {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid black;
  z-index: 1000;
}

#context-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#context-menu li {
  padding: 8px;
  cursor: pointer;
}

#context-menu li:hover {
  background-color: #ddd;
}

.cursor-box {
  background-color: lightyellow;
  padding: 5px;
  border: 1px solid black;
  display: none;
  margin-bottom: 5px;
  /* Initially hidden */
}

.cursor-box-contained {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: left;
}

/* Debug panel container */
#debug-info-panel {
  background-color: #333;
  /* Deep grey background */
  margin: 10px;
  border-radius: 5px;
  width: 100%;
}

/* Debug panel text */
#debug-info-panel div {
  color: #fff;
  /* White text for readability */
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 4px 10px;
  justify-content: left;
  background-color: #333;
  border-radius: 5px;
}

/* Position the answer box 5px to the right of the prompt box */

.object-list-panel {
  height: 20%;
  /* Adjust the height as needed */
  overflow-y: auto;
  background-color: #222;
  border-top: 4px solid #ccc;
  color: #fff;
  /* White text for readability */
  font-family: Arial, sans-serif;
  font-size: 16px;
  padding: 4px;
  justify-content: left;
  flex: 1; /* Fills remaining space in bottom section */
}

.object-list-item {
  background-color: #404042;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  margin: 4px 0px;
  padding: 5px;
  cursor: pointer;
}

.object-list-item.selected {
  background-color: #d0d0d0;
  color: #353535
    /* Paler grey background when selected */
}

.object-list-heading {
  background-color: #ccc;
  border-radius: 12px 12px 0 0;
  border: 0;
  box-sizing: border-box;
  padding: 10px 5px 0px 5px;
  flex: 0 0 30px;
  font-family: TransportMedium;
  font-size: 20px;
  font-display: swap;
}



@media (max-width: 768px) {
  .side-bar[data-position="right"],

  .side-panel {
    min-width: 100%;
    /* Full width on smaller screens */
    top: 48px;
    /* Position below the sidebar */
    left: 0;
    /* Align to the left edge */
    height: calc(100% - 48px);
    /* Adjust height */
    display: block;
    /* Ensure side panel is visible */
  }

  .side-panel.open {
    top: 48px;
    /* Position below the sidebar */
  }

  .side-panel.close {
    top: -100%;
    /* Hide off-screen */
  }

  .item {
    height: 48px;
    /* Adjust item height */
    width: 48px;
    /* Adjust item width */
    line-height: 48px;
    /* Adjust line height */
    font-size: 16px;
    /* Adjust font size */
    position: absolute;
    /* Position at the edge */
    right: 0;
    /* Align to the right edge */
    top: 0;
    /* Align to the top edge */
  }

  .item.bottom {
    display: block;
    /* Ensure bottom item is visible */
    position: fixed;
    /* Fix position at the bottom */
    bottom: 0;
    /* Align to the bottom edge */
    width: 100%;
    /* Full width */
    height: 48px;
    /* Adjust height */
    line-height: 48px;
    /* Adjust line height */
    text-align: center;
    /* Center text */
  }

  .heading {
    font-size: 24px;
    /* Adjust heading font size */
    height: 36px;
    /* Adjust heading height */
    line-height: 36px;
    /* Adjust heading line height */
  }

  .input-container {
    width: 100%;
    /* Full width input container */
  }

  .input {
    font-size: 16px;
    /* Adjust input font size */
  }

  .button {
    padding: 12px 24px;
    /* Adjust button padding */
    font-size: 14px;
    /* Adjust button font size */
  }
}